<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hyperionServerIP" value="10.1.2.83"/>
    <add key="hyperionServerJsonPort" value="19444"/>
    <add key="hyperionServerProtoPort" value="19445"/>
    <add key="protocol" value="proto"/> <!-- Which Hyperion protocol to use (json / proto) -->
    <add key="hyperionMessagePriority" value="10"/> <!-- Lower number means higher priority -->
    <add key="hyperionMessageDuration" value="1000"/> <!-- How long will each captured screenshot stay on LEDs -->
    <add key="width" value="114"/> <!-- Keep these values small -->
    <add key="height" value="64"/> <!-- Keep these values small -->
    <add key="captureInterval" value="50"/>
    <add key="notificationLevel" value="info"/>
    <add key="monitorIndex" value="0"/> <!-- 0 is the main monitor -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
