<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hyperionServerIP" value="0.0.0.0"/>
    <add key="hyperionServerPort" value="19445"/> <!-- Protobuffer port -->
    <add key="hyperionMessagePriority" value="10"/> <!-- Lower number means higher priority -->
    <add key="hyperionMessageDuration" value="1000"/> <!-- How long will each captured screenshot stay on LEDs -->
    <add key="width"  value="64"/> <!-- Keep these values small -->
    <add key="height" value="64"/> <!-- Keep these values small -->
    <add key="captureInterval" value="10"/>
    <add key="notificationLevel" value="Info"/> <!-- Info/Error/None -->
    <add key="monitorIndex" value="0"/> <!-- 0 is the main monitor -->
    <add key="reconnectInterval" value="5000"/><!-- "Reconnected interval -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
