<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40-client" developmentDependency="true" />
  <package id="Fody" version="2.1.2" targetFramework="net40-client" developmentDependency="true" />
  <package id="Grapevine" version="4.1.1.0" targetFramework="net40-client" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net4-client" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40-client" />
  <package id="SharpDX" version="4.0.1" targetFramework="net40-client" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net40-client" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net40-client" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net4" />
</packages>